{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
	<h1> Welcome to the beahivoural game </h1>
	Hello user, this game consist in the following schema:
	
	You are going to play with 2 other players and you ( 3 players in total),
	you will receive an initial endowment of $10. The game will consist in two
	phases the first phase will 3 rounds and the second one in 2 rounds at the
	end of the first phase the total contribution will be multiplied by three and
	divided by the number of participant, this value will be the initial endowment 
	for the phase 2, in which you can contribute the money you have too. 


	<h3> Thanks for your time </h3>
	Regards,
	Daniel
    {% next_button %}

{% endblock %}
